<div class="paging" th:fragment="pagination()" xmlns:th="http://www.w3.org/1999/html">
  <a href="#" class="first" th:id="btnPageNo_1"  th:data-page-no="0"><span class="hidden">처음</span></a>
  <a href="#" class="prev" id="btnPagePrevious" th:data-page-no="${list.pageable.pageNumber - 1}" aria-label="Previous"><span class="hidden">이전</span></a>
  <th:block th:each="i: ${#numbers.sequence(displayStartPage, displayEndPage)}">
    <a href="#" th:classappend="${i == list.pageable.pageNumber+1} ? 'on'" th:id="btnPageNo_+${i}"  th:data-page-no="${i}-1" th:text="${i}">1</a>
  </th:block>
  <th:block th:if="${list.totalPages <= list.pageable.pageNumber+1}">
    <a href="#" class="next" th:data-page-no="${list.pageable.pageNumber+1}" aria-label="Next"><span class="hidden">다음</span></a>
    <a href="#" class="last" th:data-page-no="${list.totalPages - 1}"><span class="hidden">마지막</span></a>
  </th:block>
  <th:block th:unless="${list.totalPages <= list.pageable.pageNumber+1}">
    <a href="#" class="next" id="btnPageNext" th:data-page-no="${list.pageable.pageNumber+1}" aria-label="Next"><span class="hidden">다음</span></a>
    <a href="#" class="last" th:id="btnPageNo_+${list.totalPages}"  th:data-page-no="${list.totalPages - 1}"><span class="hidden">마지막</span></a>
  </th:block>
</div><!--// paging-->