<div class="form" th:fragment="cardBody()">
  <div class="grid">
    <div class="fm-section col6">
      <div class="fm-tit">
        <strong><i class="ico-require"></i><span th:text="#{co_work.bulletin_view.title}">제목</span></strong>
      </div>
      <div class="fm-txt">
        <div class="txt" colspan="3" th:text="*{title}">휴무일 공지 (2021.05.05)</div>
      </div>
    </div>
    <div class="fm-section col2">
      <div class="fm-tit">
        <strong><i class="ico-require"></i><span th:text="#{co_work.bulletin_view.writer}">작성자</span></strong>
      </div>
      <div class="fm-txt">
        <div th:replace="/common/userInfo :: userInfo(*{writeEmbedded.accountDTO})"></div>
        <p class="ml-4 mr-auto" th:text="|*{writeEmbedded.writer.userName} (*{writeEmbedded.writer.company.companyRole.companyRoleName} : *{writeEmbedded.writer.company.name})|">김감독 (발주사 : 한국 발주)</p>
      </div>
    </div>
    <div class="fm-section col2">
      <div class="fm-tit">
        <strong><i class="ico-require"></i><span th:text="#{co_work.bulletin_view.write_date}">작성일시</span></strong>
      </div>
      <div class="fm-txt">
        <div class="txt" th:text="${#temporals.format(bulletin.writeEmbedded.writeDate, #messages.msg('system.locale.dateformat.year_month_day_hour_min_sec'))}">2021.04.17 11:00</div>
      </div>
    </div>
    <div class="fm-section col2">
      <div class="fm-tit">
        <strong><i class="ico-require"></i><span th:text="#{co_work.bulletin_view.view_count}">조회수</span></strong>
      </div>
      <div class="fm-txt">
        <div class="txt">
          <span th:text="*{viewCount}">5</span>
        </div>
      </div>
    </div>
    <div class="fm-section col2">
      <div class="fm-tit">
        <strong><i class="ico-require"></i><span th:text="#{co_work.bulletin_view.likes_count}">좋아요</span></strong>
      </div>
      <div class="fm-txt">
        <div class="txt">
          <div th:replace="coWork/bulletinView/likesUserList :: likesUserList(${bulletin.getEnabledBulletinLikesList()})"></div>
        </div>
      </div>
    </div>
    <div class="fm-section col4">
      <div class="fm-tit">
        <strong><i class="ico-require"></i><th th:text="#{co_work.bulletin_view.attach_file}">첨부파일</th></strong>
      </div>
      <div class="fm-txt">
        <div class="d-flex align-items-center">
          <div class="up-file-list">
            <div class="badge badge-pill download-attach-file" th:each="item, index : ${bulletinFileNotImg}"
                 th:data-file-id="${item.id}" th:data-file-ext="${item.originFileNameExt}" th:data-file-path="${item.filePath}" th:data-origin-file-name="${item.originFileName}">
              <a href="#"><span th:text="${item.originFileName}"> xxxxxxxxxxxxxxxxxxxxxxx.ppt</span></a>
<!--              <button type="button" class="btn"><i class="fas fa-save"></i></button>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fm-section col6">
      <div class="fm-tit">
        <strong><i class="ico-require"></i><span th:utext="${bulletin.contents.replaceAll('\n', '<br/>')}">내용</span></strong>
      </div>
      <div class="fm-txt">
        <div th:if="${bulletinFileImg.size > 0}">
          <div class="conimg-area">
            <div class="scroll-area-w">
              <ul>
                <li th:each="imgFile, index : ${bulletinFileImg}" >
                  <img th:src="${#strings.isEmpty(imgFile.filePath) ? '/dist/img/no_image.png' : imgFile.filePath}">
                  <button type="button" class="btn btn-default"
                          th:id="btnImageDelete_ + ${imgFile.id}"
                          th:data-id="${imgFile.id}"
                          th:classappend="${imgFile.isImage} ? 'zoom-in-image'"
                          th:src="${#strings.isEmpty(imgFile.filePath) ? '/dist/img/no_image.png' : imgFile.filePath}">
                    <i class="fas fa-search-plus"></i>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fm-section col6">
      <div class="fm-tit">
        <strong><i class="ico-require"></i><th th:text="#{co_work.bulletin_view.input_reply}">댓글</th></strong>
      </div>
      <div class="fm-txt">
        <div class="comment-area wid-lg mt-5">
          <div class="form-group">
            <textarea class="form-control" id="replyContent" th:placeholder="#{co_work.bulletin_view.input_reply_placeholder}" style="height: 120px;"></textarea>
          </div>
          <div class="flex justify-right">
            <button type="button" id="btnAddReply" class="btn btn-color1">
              <i class="fas fa-comments"></i><span th:text="#{co_work.bulletin_view.btn_add_reply}"> 댓글 등록</span>
            </button>
            <div th:replace="coWork/bulletinView/likesButton :: likesButton(${isLiked})"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


