<!-- 모달 - 작업내용 등록 -->
<!-- modal-dialog modal-xl -->
<div class="content add-coworkissue-report">
    <table class="table">
        <caption>작업내용</caption>
        <tbody>
            <tr>
                <th>순번 <small class="keysmall">&#40;<span>&#42;</span>&#41;</small></th>
                <td>
                    <div class="edit-area">
                        edit-area
                    </div>
                </td>
            </tr>
            <tr>
                <th>파일 첨부</th>
                <td>
                    <div class="d-flex align-items-center">
                        <button type="button" class="btn bg-gradient-primary" data-toggle="modal"
                            data-target="">파일첨부</button>
                        <div class="up-file-list">
                            <div class="badge badge-pill">xxxxxxxxxxxxxxxxxxxxxxx.ppt</div>
                            <div class="badge badge-pill">xxxxxxxxxxxxxxxxxxxxxxx.ppt <button type="button"
                                    class="btn"><i class="fas fa-times-circle"></i></button></div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="btn-footer">
    <button type="button" class="btn bg-gradient-success">등록</button>
</div>