<!-- 모달 - 뷰포인트 선택-->
<div class="content select-view-point">
    <div class="header-option">
        <button type="button" class="btn bg-gradient-primary">선택</button>
    </div>
    <div class="scroll-area-v">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center" width="10">
                        <div class="form-group">
                            <div class="icheck-primary">
                                <input type="checkbox" id="a" name="" value="">
                                <label for="a"></label>
                            </div>
                        </div>
                    </th>
                    <th class="text-center" width="50">No</th>
                    <th width="300">View Point 명</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="form-group">
                            <div class="icheck-primary">
                                <input type="checkbox" id="a" name="" value="">
                                <label for="a"></label>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">1</td>
                    <td>상부 거더 1좌측 뷰</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>