<div class="btn-group" style="width: 100%; margin-bottom: 10px;" th:fragment="eventColor()">
  <ul class="fc-color-picker" id="color-chooser">
    <li>
      <a style="text-color:#3c8dbc;" href="#"><i class="fas fa-square"></i></a>
      <span style="font-size:0.5em;" th:text="#{co_work.calendar.sat}">토요일(공정반영)</span>
    </li>
    <li th:each="scheduleType : ${scheduleTypes}">
      <a th:style="${'color:' +  scheduleType.getScheduleColor() + ';'}"><i class="fas fa-square"></i></a>
      <span th:utext="${scheduleType.getLocaleName()}" style="font-size:0.5em;">공휴일</span>
    </li>
  </ul>
</div>
