<!-- 모달 - 공사일지 템플릿 등록  -->
<!-- modal-dialog modal-lg -->
<div class="content jobsheet-temp-add">
    <table class="table">
        <tbody>
            <tr>
                <th width="130">제목 <small class="keysmall">(<span>*</span>)</small></th>
                <td>
                    <div class="form-group w-75">
                        <input type="text" id="" name="" class="form-control" placeholder="템플릿 제목을 입력하세요.">
                    </div>
                </td>
            </tr>

            <tr>
                <th>사용여부 <small class="keysmall">(<span>*</span>)</small></th>
                <td>
                    <div class="form-group clearfix">
                        <div class="icheck-primary d-inline pr-3">
                            <input type="radio" id="radio1" name="r1">
                            <label for="radio1">YES</label>
                        </div>
                        <div class="icheck-primary d-inline pr-3">
                            <input type="radio" id="radio2" name="r1">
                            <label for="radio2">NO</label>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td colspan="2" class="px-0 py-0">
                    <div class="edit-area">
                        edit-area
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="btn-footer">
    <button type="button" class="btn bg-gradient-success">저장</button>
</div>