<!-- 모달 - 도면 추가 / 등록 -->
<div class="content upload-floor-plan">
	<p class="mb-3" th:text="#{contents.modal.add_model_file.select_snap_shot_file}">첨부할 도면을 선택해 주세요.</p>

	<table class="table">
      <tbody>
        <tr>
          <th><span th:text="#{contents.modal.add_model_file.attach_file}">파일첨부</span>  <small class="keysmall">&#40;<span>&#42;</span>&#41;</small></th>
          <td>
            <div th:replace="/common/fileUploader :: multiFileUploader('mySnapShotFileUpload')"></div>
          </td>
        </tr>
      </tbody>
    </table>
</div>
<script type="text/html" id="files-template" th:include="/common/fileUploader :: filesTemplate()"></script>
  <div class="btn-footer">
    <button id="mBtnAddMySnapShotFile" type="button" class="btn bg-gradient-success" th:text="#{contents.modal.add_model_file.btn_add_snap_shot_file}">등록</button>
  </div>
<script>
  $(document).ready(function () {

    //let _this = $("#viewPointUploadFile");
    let _this = $("#mySnapShotUploadFile");
    let _mySnapShotFileExtension = '[[${mySnapShotFileExtension}]]';

    _this.on("click", "#mBtnAddMySnapShotFile", function (e) {

      if ($("#mySnapShotFileUpload" + "s").find(".devo_file_list").length == 0) {
        showErrorAlert("ALERT", "[[#{contents.modal.add_model_file.error_no_upload_file}]]");
        return false;
      }

      showConfirm("[[#{system.common.confirm.title}]]", "[[#{contents.modal.add_model_file.confirm_add_modeling}]]", addMySnapShotFile);
    });

    let addMySnapShotFile = function(){
      $("#mySnapShotFileUpload").dmUploader("start");
    }

    let completeUploadFile = function (obj) {
	reloadComponentTabActive('/contents/mySnapShotArea/' + [[${mySnapShotId}]], "#mySnapShotArea", "modelIds=" + modelIds,
			function(){ $("#snapShotImgList").scrollTop(getScrHeight([[${mySnapShotId}]]));});
	toastr.success("[[#{contents.modal.addModalFile.file_upload_success}]]");
	$("#mySnapShotUploadFile").modal("hide");
    }

    let mySnapShotFileExtraData = function () {
      return {
        "id": "[[${mySnapShotId}]]",
        "fileUploadUIType": "MODELING_SNAP_SHOT_MODEL_FILE",
        "makeVersion": false,
        "executeHoopsConverter" : false
      }
    }

    makeMultiUploaderScript("#mySnapShotFileUpload"
                              , mySnapShotFileExtraData
                              , 5000000000
                              , _mySnapShotFileExtension.split("||")
                              , '[[#{common.file_upload.error_file_size}]]'
                              , '[[#{common.file_upload.error_ext}]]'
                              , completeUploadFile
    );
  });
</script>
