<div id="divCardHeader" class="card-header" th:fragment="cardHeader()" xmlns:sec="http://www.w3.org/1999/xhtml">

  <div class="col-12">
    <div class="bim-btn-group">
      <button type="button"
              id="btnGotoList"
              class="btn bg-gradient-info">
        <i class="fas fa-list"></i>
        <span th:text="#{admin.company_update.btn_goto_list}">목록으로</span>
      </button>
      <button type="button"
              id="btnUpdateCompany"
              class="btn bg-gradient-warning"
              th:data-id="${companyItem.id}"
              data-toggle="modal" data-target="">
        <i class="fas fa-plus"></i>
        <span th:text="#{admin.company_update.btn_execute_update}">수정</span>
      </button>
    </div>
  </div>
</div>