<div class="print-page">

    <section class="page pg-ty1">
        <div class="title">
            <h2>기성검사조서</h2>
        </div>
        <table>
            <tbody>
            <tr>
                <th>1. 공사명 :</th>
                <td>고속국도 제400호선~ 양평 이천간 건설공사 제4공구(제3차)</td>
            </tr>
            <tr>
                <th>2. 기성금액 :</th>
                <td>￦11,736,113,000 (금회 : ￦5,753,451,000)</td>
            </tr>
            <tr>
                <th>3. 계약년월일 :</th>
                <td>2022년 1월 11일</td>
            </tr>
            <tr>
                <th>4. 착공년원일 :</th>
                <td>-</td>
            </tr>
            <tr>
                <th>5. 준공예정일 :</th>
                <td>-</td>
            </tr>
            <tr>
                <th>6. 계약자 :</th>
                <td>
                    <table>
                        <tr>
                            <td>(주)태영건설</td>
                            <td>대표이사</td>
                            <td>이재규</td>
                        </tr>
                        <tr>
                            <td>(주)태영건설</td>
                            <td>대표이사</td>
                            <td>이재규</td>
                        </tr>
                        <tr>
                            <td>(주)태영건설</td>
                            <td>대표이사</td>
                            <td>이재규</td>
                        </tr>
                        <tr>
                            <td>(주)태영건설</td>
                            <td>대표이사</td>
                            <td>이재규</td>
                        </tr>
                        <tr>
                            <td>(주)태영건설</td>
                            <td>대표이사</td>
                            <td>이재규</td>
                        </tr>
                        <tr>
                            <td>(주)태영건설</td>
                            <td>대표이사</td>
                            <td>이재규</td>
                        </tr>
                        <tr>
                            <td>(주)태영건설</td>
                            <td>대표이사</td>
                            <td>이재규</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="ph-20">
                    <p>상기 공사 기성부분 검사의 명을 받아 2022년 09월 22일 검사한 결과 별지 명세서와 같이 전 공사에 대하여 69.04% 기성이 상위없음을 증명함</p>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="txt-right">
                    2022년 09월 22일
                </td>
            </tr>
            <tr>
                <td colspan="3" class="txt-right">
                    <table>
                        <colgroup>
                            <col style="width:70%">
                            <col style="width:15%" span="2">
                        </colgroup>
                        <tr>
                            <th class="txt-right">검사원 :</th>
                            <td class="txt-right">최윤형</td>
                            <td class="txt-right">(인)</td>
                        </tr>
                        <tr>
                            <th class="txt-right">검사원 :</th>
                            <td class="txt-right">최윤형</td>
                            <td class="txt-right">(인)</td>
                        </tr>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="file-btm">
            <dl>
                <dt>첨부 :</dt>
                <dd>1. 기성부분 집계표</dd>
                <dd>2. 기성부분 내역서</dd>
                <dd>3. 그 밖의 참고자료</dd>
            </dl>
        </div>
    </section><!--//section-->

    <section class="page cover-ty1">
        <div class="title">
            <h2>기성검사원<br><small>(양평~이천 4공구)</small></h2>
        </div>
        <div class="date">
            2022.09
        </div>
        <div class="txt">
            고속국도 제400호선 양평~이천간 건설공사 (제3차)
        </div>
    </section><!--//section-->

    <section class="page list-ty1">
        <div class="title">
            <h2>목차</h2>
        </div>
        <ul>
            <li>1. 기성부분검사원</li>
            <li>2. 기성부분 집계표 (전체)</li>
            <li>3. 기성부분 집계표 (연차)</li>
            <li>4. 기성내역서 (연차)</li>
            <li>5. 작업일보</li>
            <li>6. 기타</li>
        </ul>
    </section><!--//section-->

    <section class="page cover-ty2">
        <div class="title">
            <h2>1. 기성부분검사원</h2>
        </div>
    </section><!--//section-->

    <section class="page pg-ty1">
        <div class="title">
            <h2>제3회 기성부분검사원</h2>
        </div>
        <div class="sign-box">
            <table>
                <colgroup>
                    <col style="width:20%">
                    <col style="width:80%">
                </colgroup>
                <tr>
                    <td colspan="2">확인</td>
                </tr>
                <tr>
                    <td>일자</td>
                    <td></td>
                </tr>
                <tr>
                    <td>감<br>독<br>원</td>
                    <td></td>
                </tr>
            </table>
        </div>

        <table>
            <tbody>
            <tr>
                <th>1. 공사명 :</th>
                <td>고속국도 제400호선~ 양평 이천간 건설공사 제4공구(제3차)</td>
            </tr>
            <tr>
                <th>2. 계약금액 :</th>
                <td>￦11,736,113,000 (일금 일백육십팍억칠천육백오십삼만칠천 원정)</td>
            </tr>
            <tr>
                <th>3. 계약년월일 :</th>
                <td>2022년 1월 11일</td>
            </tr>
            <tr>
                <th>4. 착공년원일 :</th>
                <td>2022년 1월 11일</td>
            </tr>
            <tr>
                <th>5. 준공예정일 :</th>
                <td>2022년 1월 11일</td>
            </tr>
            <tr>
                <th>6. 기성부분액 :</th>
                <td>￦5,753,451,000 (누계금액) : ￦11,736,113,000</td>
            </tr>
            <tr>
                <th>7. 기성율 :</th>
                <td>69.04% (금회 기성율 : 33.84%)</td>
            </tr>
            <tr>
                <td colspan="2" class="ph-20 txt-cnt">
                    <p>상기 공사의 제 3 회 기성부분검사원을 제출하오니 검사하여 주시기 바랍니다.</p>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="txt-right">
                    2022년 09월 22일
                </td>
            </tr>

            <tr>
                <th>계약대상자</th>
                <td>
                    <table>
                        <tr>
                            <td>(주)태영건설</td>
                            <td>이재규</td>
                            <td>(인)</td>
                            <td>(주)가야건설</td>
                            <td>이재규</td>
                            <td>(인)</td>
                        </tr>
                        <tr>
                            <td>(주)태영건설</td>
                            <td>이재규</td>
                            <td>(인)</td>
                            <td>(주)대국선설산업(주)</td>
                            <td>이재규</td>
                            <td>(인)</td>
                        </tr>
                        <tr>
                            <td>(주)태영건설</td>
                            <td>이재규</td>
                            <td>(인)</td>
                            <td>(주)대국선설산업(주)</td>
                            <td>이재규</td>
                            <td>(인)</td>
                        </tr>
                        <tr>
                            <td>(주)태영건설</td>
                            <td>이재규</td>
                            <td>(인)</td>
                            <td>(주)대국선설산업(주)</td>
                            <td>이재규</td>
                            <td>(인)</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2"  class="ph-50">
                    <table>
                        <tr>
                            <th rowspan="4">첨부 :</th>
                            <td>1. 기성부분 집계표, 내역서</td>
                            <td>각 1부.</td>
                        </tr>
                        <tr>
                            <td>2. 작업일보</td>
                            <td>각 1부.</td>
                        </tr>
                        <tr>
                            <td>3. 기타자료</td>
                            <td>1부.</td>
                        </tr>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
        <p class="btm-txt">한국도로공사 화도이천건설사업단장 귀하</p>
    </section><!--//section-->

    <section class="page cover-ty2">
        <div class="title">
            <h2>2. 기성부분집계표 (전체)</h2>
        </div>
    </section><!--//section-->

    <section class="page table-ty">
        <div class="title">
            <h2>집계표 (전체)</h2>
        </div>
        <div class="tb-top">
            <h3>1.공정별 준공내역</h3>
            <span>&lt;단위 : 원&gt;</span>
        </div>

        <table class="table">
            <colgroup>
                <col style="width:8%">
                <col style="width:25%">
                <col style="width:13%" span="4">
                <col style="width:7%" span="2">
            </colgroup>
            <tbody>
            <tr>
                <th rowspan="2" colspan="2">공종명</th>
                <th rowspan="2">도급액</th>
                <th colspan="3">준공부분액</th>
                <th rowspan="2">기성율<br>(%)</th>
                <th rowspan="2">비교</th>
            </tr>
            <tr>
                <th>전회</th>
                <th>금회</th>
                <th>누계</th>
            </tr>
            <tr>
                <td rowspan="27" class="txt-cnt">순공사비</td>
                <td class="txt-left">Ⅰ토목공사 </td>
                <td>123,680,806,200</td>
                <td>8,472,740,653</td>
                <td class="txt-color-blue">3,813,385,103</td>
                <td>12,286,125,756</td>
                <td>9.93%</td>
                <td></td>
            </tr>
            <tr>
                <td class="txt-left depth2">1. 토 공</td>
                <td>12,941,990,175</td>
                <td>967,108,813</td>
                <td class="txt-color-blue">337,450,436</td>
                <td>1,304,559,249</td>
                <td>10.08%</td>
                <td></td>
            </tr>
            <tr>
                <td class="txt-left depth2">2. 배수 및 옹벽공</td>
                <td>12,941,990,175</td>
                <td>967,108,813</td>
                <td class="txt-color-blue">337,450,436</td>
                <td>1,304,559,249</td>
                <td>10.08%</td>
                <td></td>
            </tr>
            <tr>
                <td class="txt-left depth2">3. 구조물공</td>
                <td>12,941,990,175</td>
                <td>-</td>
                <td class="txt-color-blue">-</td>
                <td>-</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="txt-left depth2">4. 포 장 공 </td>
                <td>12,941,990,175</td>
                <td>-</td>
                <td class="txt-color-blue">-</td>
                <td>-</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="txt-left depth2">5. 부 대 공 </td>
                <td>12,941,990,175</td>
                <td>-</td>
                <td class="txt-color-blue">-</td>
                <td>-</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="txt-left depth2">6. 터 널 공</td>
                <td>12,941,990,175</td>
                <td>-</td>
                <td class="txt-color-blue">-</td>
                <td>-</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="txt-left">II 기계설비공사</td>
                <td>12,941,990,175</td>
                <td>-</td>
                <td class="txt-color-blue">-</td>
                <td>-</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="txt-left">Ⅲ 전기공사 </td>
                <td>12,941,990,175</td>
                <td>-</td>
                <td class="txt-color-blue">-</td>
                <td>-</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="txt-left">Ⅳ 건축공사</td>
                <td>12,941,990,175</td>
                <td>-</td>
                <td class="txt-color-blue">-</td>
                <td>-</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="txt-left">V 광통신공사 </td>
                <td>12,941,990,175</td>
                <td>-</td>
                <td class="txt-color-blue">-</td>
                <td>-</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="txt-left">⊙ 잡비공제  </td>
                <td>12,941,990,175</td>
                <td>-</td>
                <td class="txt-color-blue">-</td>
                <td>-</td>
                <td></td>
                <td></td>
            </tr>
            <tr class="bg-grey">
                <td class="txt-left">가. 직 접 공 사 비</td>
                <td>12,941,990,175</td>
                <td>8,472,740,653 </td>
                <td class="txt-color-blue">3,813,385,103</td>
                <td>12,286,125,756</td>
                <td>9.07%</td>
                <td></td>
            </tr>

            <tr>
                <td class="txt-left">1) 간 접 노 무 비 </td>
                <td>12,941,990,175</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="txt-left">2) 산 재 보 험 료 </td>
                <td>12,941,990,175</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="txt-left">3) 산업안전보건관리비 </td>
                <td>12,941,990,175</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="txt-left">4) 고 용 보 험 료</td>
                <td>12,941,990,175</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="txt-left">5) 퇴직 공제 부 금 비 </td>
                <td>12,941,990,175</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="txt-left">6) 건 강 보 험 료</td>
                <td>12,941,990,175</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="txt-left">7) 연 금 보 험 료</td>
                <td>12,941,990,175</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="txt-left">8) 노인장기요양보험료 </td>
                <td>12,941,990,175</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="txt-left">9) 건설기계대여대금지급보증서발급수수료</td>
                <td>12,941,990,175</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="txt-left">10) 환경보전비</td>
                <td>12,941,990,175</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="txt-left">11) 공사이행보증수수료</td>
                <td>12,941,990,175</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="txt-left">12) 하도급대금지급보증발급수수료</td>
                <td>12,941,990,175</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="txt-left">13) 기 타 경 비 </td>
                <td>12,941,990,175</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td></td>
                <td></td>
            </tr>
            <tr class="bg-grey">
                <td class="txt-left">B. 순 공 사 원 가 </td>
                <td>12,941,990,175</td>
                <td>8,472,740,653 </td>
                <td>3,813,385,103</td>
                <td>12,286,125,756</td>
                <td>9.07%</td>
                <td></td>
            </tr>

            <tr>
                <td colspan="2" class="txt-left">14) 일 반 관 리 비</td>
                <td>12,941,990,175</td>
                <td>8,472,740,653 </td>
                <td>3,813,385,103</td>
                <td>12,286,125,756</td>
                <td>9.07%</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2" class="txt-left">15) 이 윤</td>
                <td>12,941,990,175</td>
                <td>8,472,740,653 </td>
                <td>3,813,385,103</td>
                <td>12,286,125,756</td>
                <td>9.07%</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2" class="txt-left">16) 공사손해보험료</td>
                <td>12,941,990,175</td>
                <td>8,472,740,653 </td>
                <td>3,813,385,103</td>
                <td>12,286,125,756</td>
                <td>9.07%</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2" class="txt-left">17) 간접피해보상비</td>
                <td>12,941,990,175</td>
                <td>8,472,740,653 </td>
                <td>3,813,385,103</td>
                <td>12,286,125,756</td>
                <td>9.07%</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2" class="txt-left">18) 정기안전점검비</td>
                <td>12,941,990,175</td>
                <td>8,472,740,653 </td>
                <td>3,813,385,103</td>
                <td>12,286,125,756</td>
                <td>9.07%</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2" class="txt-left">19) 기술사용료</td>
                <td>12,941,990,175</td>
                <td>8,472,740,653 </td>
                <td>3,813,385,103</td>
                <td>12,286,125,756</td>
                <td>9.07%</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2" class="txt-left">20) 콘크리트생산시설전기인입비</td>
                <td>12,941,990,175</td>
                <td>8,472,740,653 </td>
                <td>3,813,385,103</td>
                <td>12,286,125,756</td>
                <td>9.07%</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2" class="txt-left">21) 터널전기인입시설비</td>
                <td>12,941,990,175</td>
                <td>8,472,740,653 </td>
                <td>3,813,385,103</td>
                <td>12,286,125,756</td>
                <td>9.07%</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2" class="txt-left">22) 추가 PS 적용항목</td>
                <td>12,941,990,175</td>
                <td>8,472,740,653 </td>
                <td>3,813,385,103</td>
                <td>12,286,125,756</td>
                <td>9.07%</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2" class="txt-left">23) Restrike 확인 및 분석</td>
                <td>12,941,990,175</td>
                <td>8,472,740,653 </td>
                <td>3,813,385,103</td>
                <td>12,286,125,756</td>
                <td>9.07%</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2" class="txt-left">24) T.A.B 공사비</td>
                <td>12,941,990,175</td>
                <td>8,472,740,653 </td>
                <td>3,813,385,103</td>
                <td>12,286,125,756</td>
                <td>9.07%</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2" class="txt-left">25) 프로그램입력비</td>
                <td>12,941,990,175</td>
                <td>8,472,740,653 </td>
                <td>3,813,385,103</td>
                <td>12,286,125,756</td>
                <td>9.07%</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2" class="txt-left">26) 모바일전자상황판</td>
                <td>12,941,990,175</td>
                <td>8,472,740,653 </td>
                <td>3,813,385,103</td>
                <td>12,286,125,756</td>
                <td>9.07%</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2" class="txt-left">27) 시공상세도 작성비</td>
                <td>12,941,990,175</td>
                <td>8,472,740,653 </td>
                <td>3,813,385,103</td>
                <td>12,286,125,756</td>
                <td>9.07%</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2" class="txt-left">28) 비탈면조정공사비</td>
                <td>12,941,990,175</td>
                <td>8,472,740,653 </td>
                <td>3,813,385,103</td>
                <td>12,286,125,756</td>
                <td>9.07%</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2" class="txt-left">29) 안전관리계획서 검토비</td>
                <td>12,941,990,175</td>
                <td>8,472,740,653 </td>
                <td>3,813,385,103</td>
                <td>12,286,125,756</td>
                <td>9.07%</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2" class="txt-left">30) 기타환경보존비</td>
                <td>12,941,990,175</td>
                <td>8,472,740,653 </td>
                <td>3,813,385,103</td>
                <td>12,286,125,756</td>
                <td>9.07%</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2" class="txt-left">31) 설계도서 인쇄, 출력 및 준공도서</td>
                <td>12,941,990,175</td>
                <td>8,472,740,653 </td>
                <td>3,813,385,103</td>
                <td>12,286,125,756</td>
                <td>9.07%</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2" class="txt-left">32) 가설구조물의 안정성 검토비</td>
                <td>12,941,990,175</td>
                <td>8,472,740,653 </td>
                <td>3,813,385,103</td>
                <td>12,286,125,756</td>
                <td>9.07%</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2" class="txt-left">33) 기술제안비</td>
                <td>12,941,990,175</td>
                <td>8,472,740,653 </td>
                <td>3,813,385,103</td>
                <td>12,286,125,756</td>
                <td>9.07%</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2" class="txt-left">물가변동 (K1 : 4.27%)</td>
                <td>12,941,990,175</td>
                <td>8,472,740,653 </td>
                <td>3,813,385,103</td>
                <td>12,286,125,756</td>
                <td>9.07%</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2" class="txt-left">설계변경 (총액)</td>
                <td>12,941,990,175</td>
                <td>8,472,740,653 </td>
                <td>3,813,385,103</td>
                <td>12,286,125,756</td>
                <td>9.07%</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2" class="txt-left">설계변경 (합산조정금액)</td>
                <td>12,941,990,175</td>
                <td>8,472,740,653 </td>
                <td>3,813,385,103</td>
                <td>12,286,125,756</td>
                <td>9.07%</td>
                <td></td>
            </tr>
            <tr class="bg-grey">
                <td colspan="2" class="txt-left">C. 공 사 비 계</td>
                <td>12,941,990,175</td>
                <td>8,472,740,653 </td>
                <td>3,813,385,103</td>
                <td>12,286,125,756</td>
                <td>9.07%</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2" class="txt-left">D. 부 가 가 치 세</td>
                <td>12,941,990,175</td>
                <td>8,472,740,653 </td>
                <td>3,813,385,103</td>
                <td>12,286,125,756</td>
                <td>9.07%</td>
                <td></td>
            </tr>
            <tr class="bg-grey border">
                <td colspan="2" class="txt-left">가. 도 급 액 계</td>
                <td>12,941,990,175</td>
                <td>8,472,740,653 </td>
                <td>3,813,385,103</td>
                <td>12,286,125,756</td>
                <td>9.07%</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2" class="txt-left">지 급 자 재 액</td>
                <td>12,941,990,175</td>
                <td>8,472,740,653 </td>
                <td>3,813,385,103</td>
                <td>12,286,125,756</td>
                <td>9.07%</td>
                <td></td>
            </tr>
            <tr class="bg-grey border">
                <td colspan="2" class="txt-left">총 공 사 비</td>
                <td>12,941,990,175</td>
                <td>8,472,740,653 </td>
                <td>3,813,385,103</td>
                <td>12,286,125,756</td>
                <td>9.07%</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </section><!--//section-->
</div>
<div class="btn-box text-right">
    <a href="javascript:btnPrint();"><div class="btn-print btn btn-color1">PRINT</div></a>
    <div class="btn-pdf btn btn-color2">PDF</div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        const $preloader = $('.preloader');
        const jobSheetTitle = '스냅샷 테스트';

        $(this).on('click', '.btn-print', function (e) {
            console.log("btn-print");
            let params = "formElementIdForUserId=jobSheetGrantorId";
            params += "&formElementIdForModal=modalSearchJobSheetGrantor";
            params += "&searchUserFilter=Y";

            window.open('/project/projectPrint', 'printJobSheet', 'width=800, height=600, left=100, top=100, scrollbars=yes, resizable=yes')
        });

        $(this).on('click', '.btn-pdf', function () {
            html2PDF.download(jobSheetTitle,'.print-page', beforeConvert, afterConvert);
        });
    });


    function btnPrint() {
        const jobSheetId = $(this).data('job-sheet-id');
        window.open('/project/projectPrint?id=238', 'printJobSheet', 'width=800, height=600, left=100, top=100, scrollbars=yes, resizable=yes')
    }

    function beforeConvert() {
        //$preloader.attr('style', 'opacity : 0.8; transition-duration: 0s;');
        //$preloader.children().show()
        //$('#jobSheetContentsPreview > .scroll-area-v').attr('style', 'max-height: 1000000rem !important');
    }

    function afterConvert() {
        //$('#jobSheetContentsPreview > .scroll-area-v').attr('style', 'max-height: 46.154rem !important');
        //$preloader.css('height', 0);
        //$preloader.children().hide();
    }
    // Get the div element by its ID
    //var myDiv = document.getElementById("print-page");

    // Print the contents of the div element
    /**
    setTimeout(function() {
        window.print($(".print-page").html());
    }, 1000);
     **/
    /**
    window.onload = function() {
        var myDiv = $(".print-page") //document.getElementById("print-page");
        if (myDiv !== null) {
            window.print($(".print-page").html());
        } else {
            console.log("myDiv element not found!");
        }
    }
     **/
</script>


<script type="text/javascript">
    <!--
    /**
    var initBody;
    function beforePrint() {
        boxes = document.body.innerHTML;
        document.body.innerHTML = $(".printPage").html(); //printPage.innerHTML;
    }
    function afterPrint() {
        document.body.innerHTML = boxes;
    }
    function printArea() {
        window.print();
    }
    window.onbeforeprint = beforePrint;
    window.onafterprint = afterPrint;
    setTimeout(function() {
        //window.print($(".print-page").html());
        printArea();
    }, 1000);
    **/
    -->
</script>

<style>
    .btn-box .btn {padding:0 10px; margin:0 2px;  color:#fff; height: 40px; line-height: 40px;  min-width: 80px; text-align: center; border-radius: 4px; font-weight: 800; vertical-align: middle;}
    .btn-color1 {background: #d1433d; color:#fff; border:0;}
    .btn-color2 {background: #1e2e3e; color:#fff; border:0;}
</style>