<div class="print-page2">
    <a href="javascript:btnPrint();"><div class="btn-print">PRINT</div></a>
    <div class="btn-pdf">PDF</div>
    <h1>공사일지</h1>
    <section>
        <div class="title">
            <h2>1. 일반현황</h2>
        </div>
        <div class="write-date">
            <strong>작성일자 :</strong>
            <span>2023.</span>
            <span>03.</span>
            <span>01.</span>
            <span>(수)</span>
        </div>
        <table class="table">
            <tbody>
            <colgroup>
                <col style="width:6%">
                <col style="width:23%">
                <col style="width:6%">
                <col style="width:17%">
                <col style="width:6%" span="3">
            </colgroup>
            <tr>
                <th rowspan="2" class="txt-cnt">공사명</th>
                <td rowspan="2" class="txt-left">세종포천선 세종-안성 10공구</td>
                <th rowspan="2" class="txt-cnt">작성자</th>
                <td rowspan="2" class="txt-left">
                    <span>현장대리인 : </span>
                    <span class="s-txt">(인)</span>
                </td>
                <th rowspan="2" class="txt-cnt">온도</th>
                <td class="txt-cnt">최고</td>
                <td class="txt-left">
                    <span></span>
                    <span class="s-txt">℃</span>
                </td>
            </tr>
            <tr>
                <td class="txt-cnt">최저</td>
                <td class="txt-left">
                    <span></span>
                    <span class="s-txt">℃</span>
                </td>
            </tr>
            <tr>
                <th rowspan="2" class="txt-cnt">위치</th>
                <td rowspan="2" class="txt-left">경기도 안성시 금광면 배티로 715</td>
                <th rowspan="2" class="txt-cnt">확인자</th>
                <td rowspan="2" class="txt-left">
                    <span>감독원 : </span>
                    <span class="s-txt">(인)</span>
                </td>
                <th rowspan="2" class="txt-cnt">기상</th>
                <td class="txt-cnt">강우량</td>
                <td class="txt-left">
                    <span></span>
                    <span class="s-txt">mm</span>
                </td>
            </tr>
            <tr>
                <td class="txt-cnt">강설량</td>
                <td class="txt-left">
                    <span></span>
                    <span class="s-txt">mm</span>
                </td>
            </tr>
            </tbody>
        </table>
    </section><!---//section-->

    <section>
        <div class="title">
            <h2>2. 공정현황</h2>
            <h3>가. 총괄</h3>
        </div>
        <table class="table">
            <colgroup>
                <col style="width:10%">
                <col style="width:13.333%" span="6">
                <col style="width:10%">
            </colgroup>
            <tbody>
            <tr class="tb-head">
                <th rowspan="2">구분</th>
                <th colspan="3">전체(%)</th>
                <th colspan="3">당해년도(%)</th>
                <th>전체누계(%)</th>
            </tr>
            <tr class="tb-head">
                <th>총계</th>
                <th>전년까지</th>
                <th>당해년도</th>
                <th>계획</th>
                <th>실시</th>
                <th>대비</th>
                <th>대비</th>
            </tr>
            <tr>
                <th>계 (도급액)</th>
                <td>
                    <span class="price-per">100,00</span>
                    <span>244,095,456,077</span>
                </td>
                <td>
                    <span class="price-per">100,00</span>
                    <span>244,095,456,077</span>
                </td>
                <td>
                    <span class="price-per">100,00</span>
                    <span>244,095,456,077</span>
                </td>
                <td>
                    <span class="price-per">100,00</span>
                    <span>244,095,456,077</span>
                </td>
                <td>
                    <span class="price-per">100,00</span>
                    <span>244,095,456,077</span>
                </td>
                <td>
                    <span class="price-per">100,00</span>
                    <span>244,095,456,077</span>
                </td>
                <td>1.26</td>
            </tr>
            <tr>
                <th>토공</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>배수공</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>구조물공</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <div class="title">
            <h3>나. 세부내역</h3>
        </div>
        <table class="table">
            <colgroup>
                <col style="width:23%">
                <col style="width:8%" span="3">
                <col style="width:10%" span="3">
                <col style="width:7.5%" span="3">
            </colgroup>
            <tbody>
            <tr class="tb-head">
                <th rowspan="2">공종</th>
                <th rowspan="2">단위</th>
                <th rowspan="2">설계량</th>
                <th rowspan="2">보할</th>
                <th colspan="3">실시량(원)</th>
                <th colspan="3">진도(%)</th>
            </tr>
            <tr class="tb-head">
                <th>전일누계</th>
                <th>금일</th>
                <th>누계</th>
                <th>금일실시</th>
                <th>당해년도<br>누계</th>
                <th>전체누계</th>
            </tr>
            <tr>
                <th>토공계</th>
                <td>M3</td>
                <td>4,700.00</td>
                <td>100.00</td>
                <td>3,749,4000</td>
                <td>196,8000</td>
                <td>3,946.2000</td>
                <td>4.19</td>
                <td>83.96</td>
                <td>83.96</td>
            </tr>
            <tr>
                <th>...c-5 땅깍기(발파암, 진동체어발파, 중) 발파규모5m3/공이상 - 10m3/공미만</th>
                <td>M3</td>
                <td>4,700.00</td>
                <td>100.00</td>
                <td>3,749,4000</td>
                <td>196,8000</td>
                <td>3,946.2000</td>
                <td>4.19</td>
                <td>83.96</td>
                <td>83.96</td>
            </tr>
            <tr>
                <th>...a-5-1 L형측구(형식-5)(원가) 2.50x0.35-0.10 M(인력)-소단측구,깍기부-표준</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>배수공계</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>가배수관</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>가배수관</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>가배수관</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>가배수관</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>가배수관</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>가배수관</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>가배수관</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </section><!---//section-->

    <section>
        <div class="title">
            <h2>3. 인원현황</h2>
        </div>
        <table class="table">
            <colgroup>
                <col style="width:20%" span="5">
            </colgroup>
            <tbody>
            <tr class="tb-head">
                <th>구분</th>
                <th>전일누계</th>
                <th>금일투입</th>
                <th>누계인원</th>
                <th>비고</th>
            </tr>
            <tr>
                <th>철근공</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>목공</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>CON'C공</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>보통인부</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="txt-cnt">계</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </section><!---//section-->

    <section>
        <div class="title">
            <h2>4. 장비현황</h2>
        </div>
        <table class="table">
            <colgroup>
                <col style="width:20%" span="5">
            </colgroup>
            <tbody>
            <tr class="tb-head">
                <th>장비명</th>
                <th>전일누계</th>
                <th>금일투입</th>
                <th>누계인원</th>
                <th>비고</th>
            </tr>
            <tr>
                <th>D/T</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>BACK HOE</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>DOZER</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>CRANE</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="txt-cnt">계</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </section><!---//section-->

    <section>
        <div class="title">
            <h2>5. 주요자재명</h2>
        </div>
        <table class="table">
            <tbody>
            <tr class="tb-head">
                <th rowspan="2">품명</th>
                <th rowspan="2">규격</th>
                <th rowspan="2">설계량</th>
                <th colspan="3">반입량</th>
                <th colspan="2">사용량</th>
                <th rowspan="2">잔량</th>
            </tr>
            <tr class="tb-head">
                <th>전일누계</th>
                <th>금일</th>
                <th>누계</th>
                <th>금일사용</th>
                <th>누계사용</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </section><!---//section-->

    <section>
        <div class="title">
            <h2>6. 주요작업내용</h2>
        </div>
        <table class="table">
            <colgroup>
                <col style="width:50%" span="2">
            </colgroup>
            <tbody>
            <tr class="tb-head">
                <th>금일작업</th>
                <th>명일작업</th>
            </tr>
            <tr class="no-break">
                <td class="txt-left"></td>
                <td class="txt-left"></td>
            </tr>
            </tbody>
        </table>
    </section><!---//section-->
</div><!--//page-->


<script type="text/javascript">
    $(document).ready(function () {
        const $preloader = $('.preloader');
        const jobSheetTitle = '스냅샷 테스트';

        $(".btn-print").click(function (e) {
            console.log("btn-print");
            let params = "formElementIdForUserId=jobSheetGrantorId";
            params += "&formElementIdForModal=modalSearchJobSheetGrantor";
            params += "&searchUserFilter=Y";

            window.open('/project/jobSheetPrint', 'printJobSheet', 'width=800, height=600, left=100, top=100, scrollbars=yes, resizable=yes')
        });

        $(this).on('click', '.btn-pdf', function () {
            html2PDF.download(jobSheetTitle,'.print-page2', beforeConvert, afterConvert);
        });
    });

    function beforeConvert() {
        //$preloader.attr('style', 'opacity : 0.8; transition-duration: 0s;');
        //$preloader.children().show()
        //$('#jobSheetContentsPreview > .scroll-area-v').attr('style', 'max-height: 1000000rem !important');
    }

    function afterConvert() {
        //$('#jobSheetContentsPreview > .scroll-area-v').attr('style', 'max-height: 46.154rem !important');
        //$preloader.css('height', 0);
        //$preloader.children().hide();
    }

    function btnPrint() {
        const jobSheetId = $(this).data('job-sheet-id');
        window.open('/project/jobSheetPrint?id=238', 'printJobSheet', 'width=800, height=600, left=100, top=100, scrollbars=yes, resizable=yes')
    }


</script>