<!-- 모달 - 참조자 -->
<div class="content view-references">
    <div class="scroll-area-v">
        <table class="table">
            <caption>결과</caption>
            <thead>
                <tr>
                    <th class="text-center" width="100">No</th>
                    <th class="text-center" width="100">작성자</th>
                    <th class="text-center" width="100">이름</th>
                    <th class="text-center" width="150">소속</th>
                    <th class="text-center" width="100">직급</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">01</td>
                    <td class="text-center">
                        <div class="user-panel" data-toggle="tooltip" data-placement="bottom" data-html="true"
                            title=""
                            data-original-title="<div>홍길동</div><div>( CM사 : 한국CM )</div><div>000-0000-0000</div>">
                            <div class="image">
                                <img src="/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                            </div>
                        </div>
                    </td>
                    <td class="text-center">홍기사</td>
                    <td class="text-center">발주사 / 한국 발주</td>
                    <td class="text-center">과장</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>