

<div className="card-body" id="divCardBody" th:fragment="contentForm()">
    <div class="top-sticky">
        <p class="tit">STEP 03. 기성부분검사원</p>
    </div>
    <div class="gisung-help-txt txt-cnt">* 정보수정 후 저장 버튼을 누르면 수정 전 원본 데이터를 다시 불러올 수 없습니다.<br>원본 데이터 수정을 원하시면 목록에서 삭제 후 다시 진행하세요.</div>

    <div class="print-page print-write">
        <div class="card-body">
            <section class="page pg-ty1">
                <div class="title">
                    <h2>제<input type="text" class="wid-xs" name="item13" id="item13" th:value="${gisungItem.item13}"> 회 기성부분검사원</h2>
                </div>
                <div class="sign-box">
                    <table>
                        <colgroup>
                            <col style="width:20%">
                            <col style="width:80%">
                        </colgroup>
                        <tr>
                            <td colspan="2">확인</td>
                        </tr>
                        <tr>
                            <td>일자</td>
                            <td>
                                <input id="item01" name="item01" type="hidden" th:value="${gisungItem.item01}">
                                <input type="text" class="wid-s" name="item01_year" id="item01_year" maxlength="4">. <input type="text" class="wid-s" name="item01_month" id="item01_month" maxlength="2">. <input type="text" class="wid-s" name="item01_day" id="item01_day" maxlength="2">
                            </td>
                        </tr>
                        <tr>
                            <td>감<br>독<br>원</td>
                            <td></td>
                        </tr>
                    </table>
                </div>

                <table>
                    <colgroup>
                        <col style="width:20%">
                        <col style="width:80%">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th>1. 공사명 :</th>
                        <td>
                            <input id="gisungItemId" name="gisungItemId" type="hidden" th:value="${gisungItem.id}">
                            <input id="documentNo" name="documentNo" type="hidden" th:value="2">
                            <input type="text" name="title" id="title" th:value="${gisungItem.title}">
                        </td>
                    </tr>
                    <tr>
                        <th>2. 계약금액 :</th>
                        <td>￦ <input type="text" class="wid-s" name="item02" id="item02" th:value="${#numbers.formatInteger(gisungItem.item02, 1, 'COMMA')}"> (일금 <input type="text" class="wid-s" name="item03" id="item03" th:value="${gisungItem.item03}"> 원정)</td>
                    </tr>
                    <tr>
                        <th>3. 계약년월일 :</th>
                        <td>
                            <input id="item04" name="item04" type="hidden" th:value="${gisungItem.item04}">
                            <input type="text" class="wid-xs" name="item04_year" id="item04_year" maxlength="4"> 년 <input type="text" class="wid-xs" name="item04_month" id="item04_month" maxlength="2"> 월 <input type="text" class="wid-xs" name="item04_day" id="item04_day" maxlength="2"> 일
                        </td>
                    </tr>
                    <tr>
                        <th>4. 착공년원일 :</th>
                        <td>
                            <input id="item05" name="item05" type="hidden" th:value="${gisungItem.item05}">
                            <input type="text" class="wid-xs" name="item05_year" id="item05_year" maxlength="4"> 년 <input type="text" class="wid-xs" name="item05_month" id="item05_month" maxlength="2"> 월 <input type="text" class="wid-xs" name="item05_day" id="item05_day" maxlength="2"> 일
                        </td>
                    </tr>
                    <tr>
                        <th>5. 준공예정일 :</th>
                        <td>
                            <input id="item06" name="item06" type="hidden" th:value="${gisungItem.item06}">
                            <input type="text" class="wid-xs" name="item06_year" id="item06_year" maxlength="4"> 년 <input type="text" class="wid-xs" name="item06_month" id="item06_month" maxlength="2"> 월 <input type="text" class="wid-xs" name="item06_day" id="item06_day" maxlength="2"> 일
                        </td>
                    </tr>
                    <tr>
                        <th>6. 기성부분액 :</th>
                        <td>￦ <input type="text" class="wid-s" name="item07" id="item07" th:value="${#numbers.formatInteger(gisungItem.item07, 1, 'COMMA')}"> (누계금액) : ￦ <input type="text" class="wid-s" name="item08" id="item08" th:value="${#numbers.formatInteger(gisungItem.item08, 1, 'COMMA')}"></td>
                    </tr>
                    <tr>
                        <th>7. 기성율 :</th>
                        <td><input type="text" class="wid-xs" name="item09" id="item09" th:value="${gisungItem.item09}"> % (누계 기성율 : <input type="text" class="wid-xs" name="item10" id="item10" th:value="${gisungItem.item10}"> %)</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="ph-20 txt-cnt">
                            <p>상기 공사의 제 <span th:text="${gisung.gisungNo}">2</span> 회 기성부분검사원을 제출하오니 검사하여 주시기 바랍니다.</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="txt-right">
                            <input id="item11" name="item11" type="hidden" th:value="${gisungItem.item11}">
                            <input type="text" class="wid-xs" name="item11_year" id="item11_year" maxlength="4"> 년 <input type="text" class="wid-xs" name="item11_month" id="item11_month" maxlength="2"> 월 <input type="text" class="wid-xs" name="item11_day" id="item11_day" maxlength="2"> 일
                        </td>
                    </tr>

                    <tr>
                        <th>계약대상자</th>
                        <td>
                            <div class="btn-control">
                                <a href="#none" class="btn-add btn-contract-manager-add" title="추가"></a>
                            </div>
                            <table id="tbContractor">
                                <th:block th:if="${gisungContractors.size() > 0}">
                                    <tr th:each="item, index : ${gisungContractors}">
                                        <td>
                                            <input type="hidden" name="id" th:value="${item.id}">
                                            <input type="hidden" name="company" th:value="${item.company}">
                                            <span th:text="${item.company}"></span>
                                        </td>
                                        <td>
                                            <input type="hidden" name="name" th:value="${item.name}">
                                            <span th:text="${item.name}"></span>
                                        </td>
                                        <td>
                                            <input type="hidden" name="stampPath" th:value="${item.stampPath}">
                                            <th:block th:if="${!#strings.isEmpty(item.stampPath)}">
                                                <img th:src="${item.stampPath}" style="width:25px;" alt="User Image">
                                            </th:block>
                                            <th:block th:unless="${!#strings.isEmpty(item.stampPath)}">
                                                (인)
                                            </th:block>
                                        </td>
                                        <td>
                                            <input type="hidden" name="company2" th:value="${item.company2}">
                                            <span th:text="${item.company2}"></span>
                                        </td>
                                        <td>
                                            <input type="hidden" name="name2" th:value="${item.name2}">
                                            <span th:text="${item.name2}"></span>
                                        </td>
                                        <td>
                                            <input type="hidden" name="stampPath2" th:value="${item.stampPath2}">
                                            <th:block th:if="${!#strings.isEmpty(item.stampPath2)}">
                                                <img th:src="${item.stampPath2}" style="width:25px;" alt="User Image">
                                            </th:block>
                                            <th:block th:unless="${!#strings.isEmpty(item.stampPath2)}">
                                                (인)
                                            </th:block>
                                        </td>
                                    </tr>
                                </th:block>
                                <th:block th:unless="${gisungContractors.size() > 0}">

                                </th:block>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"  class="ph-50">
                            <table>
                                <colgroup>
                                    <col style="width:20%">
                                    <col style="width:80%">
                                </colgroup>
                                <tr>
                                    <th>첨부 :</th>
                                    <td>
                                        <table id="tbAddfile">
                                            <colgroup>
                                                <col style="width:30%">
                                                <col style="width:30%">
                                                <col style="width:20%">
                                            </colgroup>
                                            <th:block th:if="${gisungItem.id > 0}">
                                                <th:block th:if="${filenameLists.size() > 0}">
                                                    <tr th:each="item, index : ${filenameLists}">
                                                        <td><input type="text" name="filename" th:value="${item.key}"></td>
                                                        <td><input type="text" name="filename_etc" th:value="${item.value}"></td>
                                                        <td>
                                                            <div class="btn-control">
                                                                <a href="#none" class="btn-add btn-addfile2-add" title="추가"></a>
                                                                <th:block th:if="${index.index > 0}">
                                                                    <a href="#none" class="btn-remove btn-addfile2-del" title="삭제"></a>
                                                                </th:block>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </th:block>
                                                <th:block th:unless="${filenameLists.size() > 0}">
                                                    <tr>
                                                        <td><input type="text" name="filename"></td>
                                                        <td><input type="text" name="filename_etc"></td>
                                                        <td>
                                                            <div class="btn-control">
                                                                <a href="#none" class="btn-add btn-addfile2-add" title="추가"></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </th:block>
                                            </th:block>
                                            <th:block th:unless="${gisungItem.id > 0}">
                                                <tr>
                                                    <td><input type="text" name="filename"></td>
                                                    <td><input type="text" name="filename_etc"></td>
                                                    <td>
                                                        <div class="btn-control">
                                                            <a href="#none" class="btn-add btn-addfile2-add" title="추가"></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </th:block>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <p class="btm-txt"><input type="text" name="item12" id="item12" th:value="${gisungItem.item12}"> 귀하</p>
            </section><!--//section-->

            <div class="btn-box">
                <th:block th:if="${isWriting}">
                    <a href="#none" class="btn gisung-btn-disable" id="" th:data-gisung-id="${gisung.id}">저장</a>
                </th:block>
                <th:block th:unless="${isWriting}">
                    <a href="#none" class="btn btn-color2" id="btnWriteGisungItem" th:data-gisung-id="${gisung.id}">저장</a>
                </th:block>
                <a href="#none" class="btn btn-color1 btn-download-print pop-open-btn" data-modal="#modalPrintGisungItem">인쇄하기</a>
            </div>
        </div>
    </div>
</div>