<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/common :: head('BIM | CDEㆍ4Dㆍ5D')"></head>

<body>
<div class="wrap">
  <div class="container">
    <nav th:replace="layout/common :: navigation('project')"></nav>

    <div class="right-area">
      <div id="divContentHeader" class="header" th:replace="project/jobSheetView/contentHeader :: contentHeader()"></div>

      <div class="content">
        <div class="form-wrap form-view">
          <div class="section form-toggle on">
            <div class="title">
              <h3><span th:text="#{project.job_sheet_view.job_sheet}">공사일지 정보</span> </h3>
              <button type="button" class="form-toggle-btn"></button>
            </div>
            <div class="form form-toggle-box">
              <div class="grid">
                <div class="fm-section col1">
                  <div class="fm-tit">
                    <strong><i class="ico-require"></i><span th:text="#{project.job_sheet_view.report_date}">보고일자</span></strong>
                  </div>
                  <div class="fm-txt">
                    <div class="txt" th:text="${#temporals.format(jobSheet.reportDate, #messages.msg('system.locale.dateformat.year_month_day'))}">2023.05.05</div>
                    <input type="hidden" name="jobSheetId" id="jobSheetId" th:value="${jobSheet.id}">
                  </div>
                </div>
                <div class="fm-section col5">
                  <div class="fm-tit">
                    <strong><i class="ico-require on"></i><span th:text="#{project.job_sheet_view.title}">제목</span></strong>
                  </div>
                  <div class="fm-txt">
                    <div class="txt" th:text="${jobSheet.title}">공사일지 제목</div>
                  </div>
                </div>
                <div class="fm-section col2">
                  <div class="fm-tit">
                    <strong><i class="ico-require on"></i><span th:text="#{project.job_sheet_view.grantor_with_state}">결재자</span></strong>
                  </div>
                  <div class="fm-txt">
                    <div class="txt">
                      <div th:replace="/common/userInfo :: userInfo(${jobSheet.jobSheetGrantor.accountDTO})"></div>
                      <p class="ml-10" th:text="|${jobSheet.jobSheetGrantor.grantor.userName} (${jobSheet.jobSheetGrantor.grantor.company.companyRole.companyRoleName} / ${jobSheet.jobSheetGrantor.grantor.company.name}) - #{${jobSheet.jobSheetGrantor.status.getMessageProperty()}}|">이결재 (발주사 / 한국 발주) - 결제중/승인/반려</p>
                      <button type="button" id="btnReAdd" th:if="${isWriter and #strings.toString(jobSheet.status) == 'REJECT'}" class="btn bg-gradient-primary"><span th:text="#{project.job_sheet_view.btn_move_re_write}"> 재보고</span></button>
                    </div>
                  </div>
                </div>
                <div class="fm-section col4">
                  <div class="fm-tit">
                    <strong><i class="ico-require"></i><span th:text="#{project.job_sheet_view.reference}">참조자</span></strong>
                  </div>
                  <div class="fm-txt">
                    <!--<div class="txt">참조자1, 참조자2, 참조자3</div>-->
                    <div class="flex align-items-center mb-2 gap-10" th:each="item, index : ${jobSheet.jobSheetReferences}">
                      <div th:replace="/common/userInfo :: userInfo(${item.accountDTO})"></div>
                      <p class="ml-4 mr-auto" th:text="|${item.reference.userName} (${item.reference.company.companyRole.companyRoleName} / ${item.reference.company.name})|">김참조 (발주사 / 한국 발주)</p>
                    </div>
                  </div>
                </div>
                <div class="fm-section col2">
                  <div class="fm-tit">
                    <strong><i class="ico-require"></i><span th:text="#{project.job_sheet_view.project_name}">공사명</span></strong>
                  </div>
                  <div class="fm-txt">
                    <div class="txt" th:text="${projectName}">고속국도 400호선 양평 ~ 이천간 건설공사(제4공구)</div>
                  </div>
                </div>
                <div class="fm-section col2">
                  <div class="fm-tit">
                    <strong><i class="ico-require"></i><span th:text="#{project.job_sheet_view.location}">위치</span></strong>
                  </div>
                  <div class="fm-txt">
                    <div class="txt" th:text="*{location}">경기도 양평군</div>
                  </div>
                </div>
                <div class="fm-section col2">
                  <div class="fm-tit">
                    <strong><i class="ico-require"></i><span th:text="#{project.job_sheet_view.temperature}">온도</span></strong>
                  </div>
                  <div class="fm-txt">
                    <div class="col-group">
                      <div class="col3 flex">
                        <p class="sub-tit"><span th:text="#{project.job_sheet_view.temperature_max}">최고</span></p>
                        <div class="txt" th:text="*{temperatureMax}">30.0℃</div>
                      </div>
                      <div class="col3 flex">
                        <p class="sub-tit"><span th:text="#{project.job_sheet_view.temperature_min}">최저</span></p>
                        <div class="txt" th:text="*{temperatureMin}">30.0℃</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="fm-section col2">
                  <div class="fm-tit">
                    <strong><i class="ico-require"></i><span th:text="#{project.job_sheet_view.weather}">기상</span></strong>
                  </div>
                  <div class="fm-txt">
                    <div class="col-group">
                      <div class="col3 flex">
                        <p class="sub-tit" th:text="#{project.job_sheet_view.rain_fall_amount}">강수량</p>
                        <div class="txt" th:text="*{rainfallAmount}">44 mm</div>
                      </div>
                      <div class="col3 flex">
                        <p class="sub-tit" th:text="#{project.job_sheet_view.snow_fall_amount}">강설량</p>
                        <div class="txt" th:text="*{snowfallAmount}">0 mm</div>
                      </div>
                    </div>
                  </div>
                </div>

              </div><!--//grid-->
            </div><!--//form-->
          </div><!--//section-->

          <div class="section form-toggle on">
            <div class="title">
              <h3><span th:text="#{project.job_sheet_view.input_progress}">공정별 진행률</span>  </h3>
              <button type="button" class="form-toggle-btn"></button>
            </div>

            <div class="add-task-control txt-right mb-5">
              <button type="button" class="all-open btn-s btn-open-all">전체열기</button>
              <button type="button" class="all-close btn-s btn-close-all">전체닫기</button>
            </div>

            <div class="form form-toggle-box">

              <div class="add-task-list">
                <th:block th:each="row, info : ${jobSheetProcessItems}">
                  <th:block th:if="${info.index == 0}">
                    <section class="add-task on">
                  </th:block>
                  <th:block th:unless="${info.index == 0}">
                    <section class="add-task">
                  </th:block>
                  <div class="flex">
                    <div class="tit-box flex">
                      <div class="img">
                        <img th:if="${row.mySnapShotSource != null and row.mySnapShotSource != ''}" th:src="${row.mySnapShotSource}">
                        <img th:if="${row.mySnapShotSource == null or row.mySnapShotSource == ''}" src="/dist/img/no_img.jpg">
                      </div>
                      <div class="tb-cate">
                        <span>[[${row.cate3Name}]]</span>
                        <span>[[${row.cate4Name}]]</span>
                        <span>[[${row.taskName}]]</span>
                      </div>
                    </div>
                    <div class="task-rate flex">
                      <p><span th:text="#{process.modal.cost_detail.progress_rate}">진행률</span> : <strong>
                        <span th:if="${row.getDuration()} != 0">[[${row.afterProgressRate / row.getDuration()}]]%</span>
                        <span th:unless="${row.getDuration()} != 0">[[${row.afterProgressRate}]]%</span>
                      </strong> (<span th:text="#{project.job_sheet_view.day_average}">일 평균</span>)</p>
                      <div class="btn-box">
                        <a href="#none" class="btn-xs pop-open-btn btnJobProcessItemPRINT" data-modal="#modalPrintJobSheetProcessItem" th:data-process-item-id="${row.id}" th:text="#{project.job_sheet_view.header_btn_print}">인쇄하기</a>
                      </div>
                      <button type="button" class="toggle-btn"></button>
                    </div>
                  </div>

                  <div class="task-con">
                    <div class="grid">
                      <div class="col4">
                        <div class="table-wrap">
                          <table class="table">
                            <tbody>
                            <tr>
                              <th colspan="3" th:text="#{project.job_sheet_view.amount_implementation}">실시량(원)</th>
                              <th colspan="3" th:text="#{project.job_sheet_view.progress}">진도(%)</th>
                            </tr>
                            <tr>
                              <td th:text="#{project.job_sheet_view.prev_amount}">전일누계</td>
                              <td th:text="#{project.job_sheet_view.today_amount}">금일누계</td>
                              <td th:text="#{project.job_sheet_view.total_amount}">누계</td>
                              <td th:text="#{project.job_sheet_view.prev_progress}">전일진도</td>
                              <td th:text="#{project.job_sheet_view.today_progress}">금일진도</td>
                              <td th:text="#{project.job_sheet_view.total_amount}">누계</td>
                            </tr>
                            <tr>
                              <td>[[${#numbers.formatInteger(row.beforeProgressAmount, 1, 'COMMA')}]]</td>
                              <td>[[${#numbers.formatInteger(row.todayProgressAmount, 1, 'COMMA')}]]</td>
                              <td>[[${#numbers.formatInteger(row.afterProgressAmount, 1, 'COMMA')}]]</td>
                              <td>[[${#numbers.formatDecimal(row.beforeProgressRate, 1, 'COMMA', 2, 'POINT')}]]%</td>
                              <td>[[${#numbers.formatDecimal(row.todayProgressRate, 1, 'COMMA', 2, 'POINT')}]]%</td>
                              <td>[[${#numbers.formatDecimal(row.afterProgressRate, 1, 'COMMA', 2, 'POINT')}]]%</td>
                            </tr>
                            </tbody>
                          </table><!--// table-->
                        </div><!--//table-wrap-->
                      </div>
                      <div class="col2">
                        <div class="add-job grid">
                          <div class="fm-section col2">
                            <div class="fm-tit">
                              <strong><i class="ico-require"></i><span th:text="#{common.modal_title.job_sheet_personal_management}">인원관리</span></strong>
                            </div>
                            <div class="fm-txt" th:if="${row.worker.size() > 0}">
                              <a href="#none" class="btn btn-color4 pop-open-btn btnWorkerTable" th:data-process-item-id="${row.id}" data-modal="#taskMemberPopup">보기</a>
                              <p class="col6 fm-msg">[[${row.worker[0].name}]] [[${row.worker[0].value}]]명 외 <strong class="txt-color1">[[${row.worker.size()-1}]]</strong>건</p>
                            </div>
                          </div>
                          <div class="fm-section col2">
                            <div class="fm-tit">
                              <strong><i class="ico-require"></i><span th:text="#{common.modal_title.job_sheet_equipment_management}">장비관리</span></strong>
                            </div>
                            <div class="fm-txt" th:if="${row.device.size() > 0}">
                              <a href="#none" class="btn btn-color3 pop-open-btn btnDeviceTable" th:data-process-item-id="${row.id}" data-modal="#taskMachinePopup">보기</a>
                              <p class="col6 fm-msg">[[${row.device[0].name}]] [[${row.device[0].value}]]개 외 <strong class="txt-color1">[[${row.device.size()-1}]]</strong>건</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                </th:block>
              </div><!--//add-task-list-->
            </div><!--//form-->
          </div><!--//section-->

          <div class="section form-toggle on">
            <div class="title">
              <h3><span th:text="#{project.job_sheet_view.main_job_details}">주요 작업내용</span> </h3>
              <button type="button" class="form-toggle-btn"></button>
            </div>
            <div class="form form-toggle-box">
              <div class="grid">
                <div class="fm-section col6">
                  <div class="fm-tit">
                    <strong><i class="ico-require on"></i><span th:text="#{project.job_sheet_view.situation}">전일작업</span></strong>
                  </div>

                  <div class="fm-txt">
                    <div class="txt-bg edit-txt" th:if="${jobSheet.contents != null}" th:utext="${jobSheet.contents.replaceAll('\n', '<br/>')}">내용</div>
                  </div>
                </div>
                <div class="fm-section col6">
                  <div class="fm-tit">
                    <strong><i class="ico-require on"></i><span th:text="#{project.job_sheet_view.next_situation}">금일작업</span></strong>
                  </div>
                  <div class="fm-txt">
                    <div class="txt-bg edit-txt" th:if="${jobSheet.todayContents != null}" th:utext="${jobSheet.todayContents.replaceAll('\n', '<br/>')}">내용</div>
                  </div>
                </div>
                <div class="fm-section col6">
                  <div class="fm-tit">
                    <strong><i class="ico-require"></i><span th:text="#{project.job_sheet_view.attach_file}">파일첨부</span></strong>
                  </div>
                  <div class="fm-txt">
                    <ul class="upload_list">
                      <li class="download-attach-file" th:each="item, index : ${jobSheet.jobSheetFiles}"
                          th:data-file-id="${item.id}" th:data-file-ext="${item.originFileNameExt}" th:data-file-path="${item.filePath}" th:data-origin-file-name="${item.originFileName}">
                        <div class="upload-docu">
                          <span><a href="#"><span th:text="${item.originFileName}"></span></a></span>
                          <a href="#none" class="btn-delete-ico"><span class="hidden" th:text="#{admin.company_add.card_body_status_del}">삭제</span></a>
                        </div>
                      </li>
                    </ul><!--//upload-list-->
                  </div>
                </div>
              </div><!--//grid-->
            </div><!--//form-->
          </div><!--//section-->

          <div class="btn-box right-sticky">
            <section>
              <a href="#none" class="btn btn-color-sky pop-open-btn" id="btnDownloadPRINT" data-modal="#modalPrintJobSheetDetail"><span th:text="#{project.job_sheet_view.header_btn_print}">공사일지 인쇄</span></a>
            </section>
            <section>
              <button type="button" class="btn-gotop" title="상단으로 이동"></button>
            </section>
          </div><!--//btn-box-->

        </div><!--// form-wrap -->


      </div><!--// content-->
    </div>
  </div>
</div>

<!-- modal -->
<th:block th:replace="layout/popup :: modal('taskMemberPopup', #{common.modal_title.job_sheet_personal_management}, '')"></th:block> <!-- 인원관리 -->
<th:block th:replace="layout/popup :: modal('taskMachinePopup', #{common.modal_title.job_sheet_equipment_management}, '')"></th:block> <!-- 장비관리 -->
<th:block th:replace="layout/popup :: modal('modalPrintJobSheetProcessItem', #{common.modal_title.print}, 'popup-md')"></th:block>
<th:block th:replace="layout/popup :: modal('modalPrintJobSheetDetail', #{common.modal_title.print}, 'popup-md')"></th:block> <!-- Print -->
<th:block th:replace="layout/popup :: modal('modalDenyJobSheet', #{project.modal.deny_job_sheet.title}, 'popup-md')"></th:block>
<th:block th:replace="layout/popup :: modal('modalApproveJobSheet', #{project.modal.approve_job_sheet.title}, 'popup-md')"></th:block>
<th:block th:replace="layout/popup :: modal('modalDownloadFile', #{common.modal_title.download_file}, '')"></th:block>
<th:block th:replace="layout/modal :: modal('modalAddPrevJobSheetItem', #{common.modal_title.print}, 'modal-lg')"></th:block>
<!-- modal end -->

<script type="text/javascript">
  const confirmTitle = "[[#{system.common.confirm.title}]]";
  const confirmDeleteJobSheet = "[[#{project.job_sheet_list.confirm_delete_job_sheet}]]";
  const jobSheetId = "[[${ jobSheet.id }]]";
  const jobSheetGrantorId = "[[${jobSheet.jobSheetGrantor.id}]]";

</script>
<script src="/dist/js/pages/jobSheet.js"></script>

</body>
</html>
