<div class="card-header" th:fragment="cardHeader()">
  <div class="col-12">
    <div class="bim-btn-group">


      <button id="btnAdd" type="button" class="btn bg-gradient-info" data-gisung-year="">
        <i class="fas fa-plus"></i><span th:text="#{contents.gisung_list.btn_open_add_modal}"> 등록</span>
      </button>


      <!--
      <button id="btnAddModal" type="button" class="btn bg-gradient-info" data-gisung-year="">
        <i class="fas fa-plus"></i><span> 테스트팝업</span>
      </button>
      -->
    </div>
  </div>
</div>