<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/common :: head('BIM | CDEㆍ4Dㆍ5D')"></head>

<body>
<div class="wrap">
    <div class="container">
        <nav th:replace="layout/common :: navigation('project')"></nav>

        <div class="right-area">
            <div id="divContentHeader" class="header" th:replace="gisung/gisungAggregationList/contentHeader :: contentHeader()"></div>

            <div class="content">

                <div id="divCardBody" th:replace="gisung/gisungAggregationList/cardBody :: cardBody()"/>

            </div><!--// content-->
        </div>
    </div>
</div>

<!-- modal -->
<th:block th:replace="layout/popup :: modal('modalSearchSingleUser', #{common.modal_title.search_single_user}, '')"></th:block>
<th:block th:replace="layout/modal :: modal('modalTestAdd', #{admin.calendar.modal_title.add_schedule}, 'modal-lg')"></th:block>
<!-- modal end -->

<script>
    var confirmDeleteDocument = "[[#{contents.gisung_list.confirm_delete_document}]]";
</script>
<script src="/dist/js/pages/gisungAggregation.js"></script>
</body>

</html>