
<div class="modal-cont-myviewpoint">
    <div class="myviewpoint-option d-flex">
        <p>view point 명 <small class="keysmall">&#40;<span>&#42;</span>&#41;</small></p>
        <div class="form-group">
            <div class="input-group">
                <input type="text" id="modelName" name="modelName" class="form-control"
                    placeholder="스냅샷 이름을 입력하세요.">
                <div class="input-group-append">
                    <button type="button" class="input-group-text"><i class="fas fa-save"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="myviewpoint-list">
        <div class="scroll-area-v">
            <table class="table">
                <caption>저장 View Point 리스트</caption>
                <thead>
                    <tr>
                        <th class="text-center w-50">View point 명</th>
                        <th class="text-center w-50">작업</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">
                            <div class="form-group">
                                <p class="text-left">상부 거더 1좌측 뷰상부 거더 1좌측 뷰</p>
                            </div>
                        </td>
                        <td class="text-center">
                            <button type="button" class="btn btn-app"><i
                                    class="fas fa-share-square"></i></button>
                            <button type="button" class="btn btn-app"><i
                                    class="fas fa-users"></i></button>
                            <button type="button" class="btn btn-app">
                                <i class="fas fa-edit"></i>
                                <!-- <i class="fas fa-save"></i> -->
                            </button>
                            <button type="button" class="btn btn-app"><i
                                    class="fas fa-trash-alt"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <div class="form-group">
                                <input type="text" id="modelName2" name="modelName"
                                    class="form-control w-100" placeholder="수정할 View point 명.">
                            </div>
                        </td>
                        <td class="text-center">
                            <button type="button" class="btn btn-app"><i
                                    class="fas fa-share-square"></i></button>
                            <button type="button" class="btn btn-app"><i
                                    class="fas fa-users"></i></button>
                            <button type="button" class="btn btn-app">
                                <i class="fas fa-save"></i>
                            </button>
                            <button type="button" class="btn btn-app"><i
                                    class="fas fa-trash-alt"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

