<div id="divContentHeader" class="header" th:fragment="contentHeader()">
  <div class="header-left">
    <h2 th:text="#{layout.common.coWork.notification_list}">뉴스&이슈</h2>
  </div>
  <div class="header-right">
    <div class="top-search">

    </div>
    <a href="#none" id="btnGotoList" class="btn btn-color2 pop-open-btn" data-modal="#modalUploadModel"><span th:text="#{co_work.notification_add.btn_goto_list}">목록으로</span></a>
    <a href="#none" id="btnAddNotification" class="btn btn-color1"><span th:text="#{co_work.notification_add.btn_execute_add}">등록</span></a>
  </div>
</div>