<div id="divGanttMenu" th:fragment="ganttMenuArea()">
  <div class="d-flex align-items-center flex-wrap">
<!--    <div class="form-group from-date ml-0">-->
<!--      <div class="input-group input-date">-->
<!--        <input type="text" class="form-control" id="moveToDate" readonly>-->
<!--        <i class="ico"></i>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="btn-group" role="toolbar">-->
<!--      <button id="btnMoveSelectedDay"-->
<!--              type="button"-->
<!--              class="btn btn-gray-off"-->
<!--              data-toggle="tooltip"-->
<!--              th:title="#{process.index.btn_move_selected_day}">-->
<!--        <img src="/dist/img/icon/ico-cal.png" alt="">-->
<!--      </button>-->
<!--      <button id="btnMoveToday"-->
<!--              type="button"-->
<!--              class="btn btn-gray-off"-->
<!--              data-toggle="tooltip"-->
<!--              th:title="#{process.index.btn_move_today}">-->
<!--        <img src="/dist/img/icon/ico-cal2.png" alt="">-->
<!--      </button>-->
<!--    </div>-->
    &nbsp;
    <div class="btn-group" role="toolbar">
      <button id="btnCollapseAll"
              type="button"
              class="btn btn-gray-off"
              data-toggle="tooltip"
              th:title="#{process.index.btn_collapse_all}">
        <img src="/dist/img/icon/ico-file.png" alt="">
      </button>
      <button id="btnExpendAll"
              type="button"
              class="btn btn-gray-off"
              data-toggle="tooltip"
              th:title="#{process.index.btn_expand_all}">
        <img src="/dist/img/icon/ico-file-open.png" alt="">
      </button>
    </div>
    &nbsp;
<!--    <div class="btn-group" role="toolbar">-->
<!--      <button id="btnUnDo"-->
<!--              type="button"-->
<!--              class="btn btn-gray-off"-->
<!--              data-toggle="tooltip"-->
<!--              th:title="#{process.index.btn_undo}">-->
<!--        <img src="/dist/img/icon/ico-undo.png" alt="">-->
<!--      </button>-->
<!--      <button id="btnReDo"-->
<!--              type="button"-->
<!--              class="btn btn-gray-off"-->
<!--              data-toggle="tooltip"-->
<!--              th:title="#{process.index.btn_redo}">-->
<!--        <img src="/dist/img/icon/ico-redo.png" alt="">-->
<!--      </button>-->
<!--    </div>-->
    &nbsp;
    <div class="btn-group" role="toolbar">
<!--      <button id="btnToggleAutoScheduling"-->
<!--              type="button"-->
<!--              class="btn btn-gray-off"-->
<!--              data-toggle="tooltip"-->
<!--              th:title="#{process.index.btn_auto_scheduling_on}">-->
<!--        <img src="/dist/img/icon/ico-auto.png" alt="">-->
<!--      </button>-->
<!--      <button id="btnToggleCriticalPath"-->
<!--              type="button"-->
<!--              class="btn btn-gray-off"-->
<!--              data-toggle="tooltip"-->
<!--              th:title="#{process.index.btn_critical_path_on}">-->
<!--        <img src="/dist/img/icon/ico-route.png" alt="">-->
<!--      </button>-->
      <button id="btnToggleFullScreen"
              type="button"
              class="btn btn-gray-off"
              data-toggle="tooltip"
              th:title="#{process.index.btn_full_screen_on}">
        <img src="/dist/img/icon/ico-expand.png" alt="">
      </button>
    </div>
    &nbsp;
    <div class="btn-group" role="toolbar">

      <button id="btnZoomFit"
              type="button"
              class="btn btn-gray-off"
              data-toggle="tooltip"
              th:title="#{process.index.btn_zoom_to_fit}">
        <img src="/dist/img/icon/ico-fit.png" alt="">
      </button>
      <button id="btnZoomIn"
              type="button"
              class="btn btn-gray-off"
              data-toggle="tooltip"
              th:title="#{process.index.btn_zoom_in}">
        <img src="/dist/img/icon/ico-zoom.png" alt="">
      </button>
      <button id="btnZoomOut"
              type="button"
              class="btn btn-gray-off"
              data-toggle="tooltip"
              th:title="#{process.index.btn_zoom_out}">
        <img src="/dist/img/icon/ico-zoomout.png" alt="">
      </button>
    </div>
    &nbsp;
    <div class="btn-group" role="toolbar">
      <button id="btnExportExcel"
              type="button"
              class="btn btn-gray-off"
              data-toggle="tooltip"
              th:title="#{process.index.btn_export_excel}">
        <img src="/dist/img/icon/ico-down.png" alt="">
      </button>
    </div>
    &nbsp;


  </div>
</div>