<div class="content-header" th:fragment="contentHeader()">
  <div>
    <h1><i class="nav-icon fas fa-laptop-code"></i><span th:text="#{admin.code_custom.title_config_custom}"> 사용자 정의 코드 관리</span></h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a th:href="@{/main/index}"><i class="fas fa-home"></i><span th:text="#{admin.code_custom.title_home}"> HOME</span></a></li>
      <li class="breadcrumb-item"><a th:href="@{/admin/project}"><span th:text="#{admin.code_custom.title_admin}">관리자</span></a></li>
      <li class="breadcrumb-item"><a th:href="@{/admin/companyRoleList}"><span th:text="#{admin.code_custom.title_category_and_code}">분류 및 코드 등록</span></a></li>
      <li class="breadcrumb-item active"><span th:text="#{admin.code_custom.title_config_custom}"> 사용자 정의 코드 관리</span></li>
    </ol>
  </div>
</div>
