<div class="header" th:fragment="contentHeader()">
  <div class="header-left">
  </div>
  <div class="header-right">
    <a href="#none" id="btnWriteJobSheet" class="btn btn-color2"><span th:text="#{project.job_sheet_add.btn_write}">임시저장</span></a>
    <a href="#none" id="btnAddJobSheet" class="btn btn-color1"><span th:text="#{project.job_sheet_add.btn_going}">공사일지 상신</span></a>
    <a href="#none" id="btnMoveListPage" class="btn btn"><span th:text="#{project.job_sheet_add.btn_move_list_page}">목록</span></a>
  </div>
</div><!--// header-->
