<div id="divCardCount" class="card content-header-area" th:fragment="cardCount()">
  <div class="col-lg-12">
    <ul>
<!--      <li><b th:text="#{process.modal.result_code_validation_card_count.view_result_code_validation}">코드 검증 결과</b></li>-->
      <li><b th:text="#{process.modal.result_code_validation_card_count.total_count}">전체</b>
        <span class="all" th:text="${#numbers.formatInteger(totalCount, 3, 'COMMA')}">42,034</span> <span th:text="#{process.modal.result_code_validation_card_count.count}">건</span></li>
      <li><b th:text="#{process.modal.result_code_validation_card_count.success_count}">성공</b>
        <span class="success" th:text="${#numbers.formatInteger(successProcessItemCnt, 3, 'COMMA')}">42,000</span> <span th:text="#{process.modal.result_code_validation_card_count.count}">건</span></li>
      <li><b th:text="#{process.modal.result_code_validation_card_count.fail_count}">실패</b>
        <span class="fail" th:text="${#numbers.formatInteger(failProcessItemCnt, 3, 'COMMA')}">34</span> <span th:text="#{process.modal.result_code_validation_card_count.count}">건</span></li>
      <li><b th:text="#{process.modal.result_code_validation_card_count.none_count}">실행전</b>
        <span class="info" th:text="${#numbers.formatInteger(noneProcessItemCnt, 3, 'COMMA')}">34</span> <span th:text="#{process.modal.result_code_validation_card_count.count}">건</span></li>
    </ul>

      <button id="btnViewCodeValidate" type="button" class="btn btn-color3">
          <p>결과조회</p>
      </button>
  </div>
</div>