<!-- 모달 - 오브젝트 검색 -->
<div class="content search-object">
    <div class="header-option">
        <div class="form-group">
            <label for="modelName">오브젝트명</label>
            <div class="input-group">
                <input type="text" id="modelName" name="modelName" class="form-control" placeholder="">
                <div class="input-group-append">
                    <button type="button" class="input-group-text"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="search-object-list">
        <div class="scroll-area-v">
            <table class="table">
                <caption>오브젝트 리스트</caption>
                <tbody>
                    <tr>
                        <td>
                            <a href="">
                                <span class="text-over-dot">직사각형패턴_마리나-패널-아연도강판-1.1.2</span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="">
                                <span class="text-over-dot">직사각형패턴_마리나-패널-아연도강판-1.1.2</span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="">
                                <span class="text-over-dot">직사각형패턴_마리나-패널-아연도강판-1.1.2</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>