<form id="frmSearchForm" th:fragment="frmSearchForm()">
  <div class="search-box" th:object="${searchNoticeVO}">
    <input type="hidden" id="sortProp" th:field="*{sortProp}" value="">
    <section>
      <p th:text="#{co_work.notification_list.search_type}">검색구분</p>
      <select id="searchType" th:field="*{searchType}" class="custom-select">
        <option th:utext="#{co_work.notification_list.search_type_select}" value="" >::선택::</option>
        <option th:utext="#{co_work.notification_list.search_type_title}" value="TITLE">제목</option>
        <option th:utext="#{co_work.notification_list.search_type_contents}" value="CONTENTS" >내용</option>
        <option th:utext="#{co_work.notification_list.search_type_title_contents}" value="TITLE_CONTENTS">제목+내용</option>
      </select>
      <input type="text" id="searchText" class="wid-m" name="searchText" th:field="*{searchText}" th:placeholder="#{co_work.notification_list.search_text_placeholder}">
    </section>
    <section class="user-search">
      <!--<p for="writerName" th:text="#{co_work.notification_list.writer_name}">작성자</p>-->
      <input type="text" id="writerName" name="writerName" class="wid-m" th:field="*{writerName}" th:placeholder="#{co_work.notification_list.search_writer_name}" readonly>
      <input type="hidden" id="writerId" name="writerId" th:field="*{writerId}">
      <a href="#none" id="btnSearchUser" class="pop-open-btn" data-modal="#modalSearchSingleUser"></a>
    </section>
    <section>
      <p th:text="#{co_work.notification_list.search_write_date}">작성 일자</p>
      <div class="input-date-wrap">
        <div class="input-date">
          <input type="date" id="searchDateFrom" th:field="*{searchDateFrom}" placeholder="" class="">
          <i class="ico"></i>
        </div>
        <small class="bar">-</small>
        <div class="input-date">
          <input type="date" id="searchDateEnd" th:field="*{searchDateEnd}" placeholder="" class="">
          <i class="ico"></i>
        </div>
      </div>
    </section>
    <section>
      <a href="#none" id="btnSearch" class="btn btn-color2"><span th:text="#{co_work.notification_list.btn_search}">검색</span></a>
      <!--<a href="#none" id="btnInit" class="btn"><span th:text="#{co_work.notification_list.btn_init}">초기화</span></a>-->
    </section>
  </div>

</form>